@model PagedList.IPagedList<Model.EF.Lesson>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var session = (UserLogin)Session[GreenLesson.Common.CommonContants.USER_SESSION];
}
@section jsFooter{
    <script src="/Assets/Admin/js/controller/userController.js"></script>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách bài giảng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Lesson</li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách bài giảng</h3>
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><a class="page-link" href="/Admin/Lesson/Create">Thêm mới bài giảng<a></li>
                            </ul>
                        </div>
                    </div>
                    @using (Html.BeginForm("Index", "Lesson", FormMethod.Get))
                    {


                        <div class="card-body">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 250px;">
                                    <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control float-right" placeholder="Search" />

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr class="project-actions text-center">
                                    <th>Tên tin tức</th>
                                    <th>Hình ảnh</th>
                                    <th>Danh mục</th>
                                    <th>Người tạo</th>
                                    <th>Trạng thái</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID" class="project-actions text-center">
                                        <td>@item.Name</td>

                                        <td>

                                            <img src="@item.Image" style="width:150px;">
                                        </td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.UserBy</td>
                                        @*<td>@Html.Raw(@item.Content)</td>*@

                                        <td><a href="#" class="btn-active">@item.Status</a></td>
                                        <td>
                                            @if (item.UserBy == @session.UserName || session.GroupID == "ADMIN")
                                            {
                                            <a class="btn btn-primary btn-sm" href="/Admin/Lesson/Edit/@item.ID">
                                                <i class="fas fa-folder">
                                                </i>
                                                Cập nhật
                                            </a>

                                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                                       {

                                           Confirm = "Bạn có muốn xoá?",
                                           OnComplete = "$('#row_" + item.ID + "').remove()",
                                           HttpMethod = "Delete"
                                       }, new { @class = "btn btn-danger btn-sm" })
                                            }
                                            <a class="btn btn-info btn-sm" href="/Admin/Lesson/Details/@item.ID">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Chi tiết
                                            </a>
                                        </td>
                                    </tr>
                                }
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<style>
    .pagination a {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .active a {
        z-index: 3;
        color: #ffffff;
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
