@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="/Assets/Admin/js/controller/userController.js"></script>
    }
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách người dùng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User</li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách người dùng</h3>
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><a class="page-link" href="/Admin/User/Create">Thêm mới người dùng</a></li>
                            </ul>
                        </div>
                    </div>
                    @using (Html.BeginForm("Index", "User", FormMethod.Get))
                    {


                        <div class="card-body">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 250px;">
                                    <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control float-right" placeholder="Search" />

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr class="project-actions text-center">
                                    <th>Tên người dùng</th>
                                    <th>Tài khoản</th>
                                    <th>Avatar</th>
                                    <th>Số điện thoại</th>
                                    @*<th>Email</th>*@
                                    @*<th>Địa chỉ</th>*@
                                    <th>Trạng thái</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr id="row_@item.ID" class="project-actions text-center">
                                    <td>@item.Name</td>
                                    <td>@item.UserName</td>
                                    <td><img src="@item.Image" style="width:150px;"></td>
                                    <td>@item.Phone</td>
                                    @*<td>@item.Email</td>*@
                                    @*<td>@item.Address</td>*@
                                    <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khoá")</a></td>
                                   
                                    <td class="project-actions text-center">
                                        @*<a class="btn btn-primary btn-sm" href="/Admin/User/Edit/@item.ID">
                                           
                                            Cập nhật
                                        </a>*@
                                        <a class="btn btn-info btn-sm" href="/Admin/User/Detail/@item.ID">
                                            
                                            Chi tiết
                                        </a>
                                       
                                            @Ajax.ActionLink("Xoá", "Delete", new{@id = item.ID, } , new AjaxOptions
                                       {
                                           
                                           Confirm = "Bạn có muốn xoá?",
                                           OnComplete = "$('#row_" + item.ID + "').remove()",
                                           HttpMethod = "Delete"
                                       }, new { @class= "btn btn-danger btn-sm" })
                                    
                                    </td>
                                </tr>
                                }
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString, @class="page-link" }))
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<style>
    .pagination a {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .active a {
        z-index: 3;
        color: #ffffff;
        background-color: #007bff;
        border-color: #007bff;
    }
</style>